@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2&display=swap');


:root {
  --nav-title-font-size: 3rem;
  --nav-title-font-weight: bold;
  --nav-link-font-weight: 300;
}

.header-title {
  color: var(--color-text-light);
  text-decoration: none;
  font-size: var(--nav-title-font-size);
  font-weight: var(--nav-title-font-weight);
}

.header-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5rem;
}

.header-nav ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.header-nav li {
  list-style: none;
}

.header-nav li a {
  text-decoration: none;
  color: var(--color-text-light);
  font-weight: var(--nav-link-font-weight);
  padding: 1rem;
}

.header-nav li a:hover, .header-title:hover {
  color: white;
}
#Ankit{
  font-size:12px; 
  font-family: 'Arial', Times, serif; 
  position:absolute; 
  top:80px; 
  left:79px; 
  
}
#Ankit a{
  font-size:15px; 
  text-decoration: none;
  color: white;
  font-family: 'Baloo Da 2', cursive;
  font-weight: 590;
  text-shadow: 0.5px 0.5px 2px lightskyblue;
  transition: 0.1s;
}

#Ankit a:hover{
  font-size:20px; 
  text-shadow: 1px 1px 7px orange;

}



